body{
    font-family: 'estedad';
}

Table {
    width: 450px ;
    border-radius: 6px ;
    border-collapse: collapse;
    cursor: pointer;
}

Table td {
    border: 1px solid #ddd;
  padding: 8px;
 
}

Table tr:nth-child(even){background-color: #f2f2f2;}
Table tr:hover {background-color: #ddd;}

.information-picture{
    height: 500px ;
    border-radius: 8px;
    margin-top: 150px;
}

.information-container {
    display: flex ;
    justify-content: space-around;
    margin-top: 50px;
}

.information-button{
    width: 200px;
    border: none;
    padding: 8px;
    color: #fff;
    background-color: blue;
    border-radius: 8px;
    font-family: estedad;
    cursor: pointer;
}

.valid{
    display: flex;
    justify-content: space-between;
}

.valid-button{
    border: none;
    padding: 8px;
    color: #fff;
    background-color: #ff497c;
    border-radius: 8px;
    font-family: estedad;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

@media (max-width:600px) {
    
    .information-container{
        display: flex;
        flex-direction: column;
    }
    .information-picture{
        height: 200px;
    }
    Table{
        width: 350px;
    }
}